---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=320943f5bc3b10b8dd2cceca2e3328e6239e2265&sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1464278857'
      Etag:
      - W/"d82f5b80348a0c4fcbf1248b366f2001"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 83207e89d786c3d79c8a
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/repos?access_token=320943f5bc3b10b8dd2cceca2e3328e6239e2265&sort=updated&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=320943f5bc3b10b8dd2cceca2e3328e6239e2265&sort=updated&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":59711641,"name":"ihub","full_name":"kamiboers/ihub","owner":{"login":"kamiboers","id":15680831,"avatar_url":"https://avatars.githubusercontent.com/u/15680831?v=3","gravatar_id":"","url":"https://api.github.com/users/kamiboers","html_url":"https://github.com/kamiboers","followers_url":"https://api.github.com/users/kamiboers/followers","following_url":"https://api.github.com/users/kamiboers/following{/other_user}","gists_url":"https://api.github.com/users/kamiboers/gists{/gist_id}","starred_url":"https://api.github.com/users/kamiboers/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kamiboers/subscriptions","organizations_url":"https://api.github.com/users/kamiboers/orgs","repos_url":"https://api.github.com/users/kamiboers/repos","events_url":"https://api.github.com/users/kamiboers/events{/privacy}","received_events_url":"https://api.github.com/users/kamiboers/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/kamiboers/ihub","description":null,"fork":false,"url":"https://api.github.com/repos/kamiboers/ihub","forks_url":"https://api.github.com/repos/kamiboers/ihub/forks","keys_url":"https://api.github.com/repos/kamiboers/ihub/keys{/key_id}","collaborators_url":"https://api.github.com/repos/kamiboers/ihub/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/kamiboers/ihub/teams","hooks_url":"https://api.github.com/repos/kamiboers/ihub/hooks","issue_events_url":"https://api.github.com/repos/kamiboers/ihub/issues/events{/number}","events_url":"https://api.github.com/repos/kamiboers/ihub/events","assignees_url":"https://api.github.com/repos/kamiboers/ihub/assignees{/user}","branches_url":"https://api.github.com/repos/kamiboers/ihub/branches{/branch}","tags_url":"https://api.github.com/repos/kamiboers/ihub/tags","blobs_url":"https://api.github.com/repos/kamiboers/ihub/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/kamiboers/ihub/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/kamiboers/ihub/git/refs{/sha}","trees_url":"https://api.github.com/repos/kamiboers/ihub/git/trees{/sha}","statuses_url":"https://api.github.com/repos/kamiboers/ihub/statuses/{sha}","languages_url":"https://api.github.com/repos/kamiboers/ihub/languages","stargazers_url":"https://api.github.com/repos/kamiboers/ihub/stargazers","contributors_url":"https://api.github.com/repos/kamiboers/ihub/contributors","subscribers_url":"https://api.github.com/repos/kamiboers/ihub/subscribers","subscription_url":"https://api.github.com/repos/kamiboers/ihub/subscription","commits_url":"https://api.github.com/repos/kamiboers/ihub/commits{/sha}","git_commits_url":"https://api.github.com/repos/kamiboers/ihub/git/commits{/sha}","comments_url":"https://api.github.com/repos/kamiboers/ihub/comments{/number}","issue_comment_url":"https://api.github.com/repos/kamiboers/ihub/issues/comments{/number}","contents_url":"https://api.github.com/repos/kamiboers/ihub/contents/{+path}","compare_url":"https://api.github.com/repos/kamiboers/ihub/compare/{base}...{head}","merges_url":"https://api.github.com/repos/kamiboers/ihub/merges","archive_url":"https://api.github.com/repos/kamiboers/ihub/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/kamiboers/ihub/downloads","issues_url":"https://api.github.com/repos/kamiboers/ihub/issues{/number}","pulls_url":"https://api.github.com/repos/kamiboers/ihub/pulls{/number}","milestones_url":"https://api.github.com/repos/kamiboers/ihub/milestones{/number}","notifications_url":"https://api.github.com/repos/kamiboers/ihub/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/kamiboers/ihub/labels{/name}","releases_url":"https://api.github.com/repos/kamiboers/ihub/releases{/id}","deployments_url":"https://api.github.com/repos/kamiboers/ihub/deployments","created_at":"2016-05-26T02:00:47Z","updated_at":"2016-05-26T02:01:00Z","pushed_at":"2016-05-26T15:10:15Z","git_url":"git://github.com/kamiboers/ihub.git","ssh_url":"git@github.com:kamiboers/ihub.git","clone_url":"https://github.com/kamiboers/ihub.git","svn_url":"https://github.com/kamiboers/ihub","homepage":null,"size":160,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":59503010,"name":"lesson_plans","full_name":"kamiboers/lesson_plans","owner":{"login":"kamiboers","id":15680831,"avatar_url":"https://avatars.githubusercontent.com/u/15680831?v=3","gravatar_id":"","url":"https://api.github.com/users/kamiboers","html_url":"https://github.com/kamiboers","followers_url":"https://api.github.com/users/kamiboers/followers","following_url":"https://api.github.com/users/kamiboers/following{/other_user}","gists_url":"https://api.github.com/users/kamiboers/gis[...]
