---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/kamiboers/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1464211185'
      Etag:
      - W/"0adbd624aa5e2a9c50ecf9b22e8b3fa1"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"GKhalsa","id":11367377,"avatar_url":"https://avatars.githubusercontent.com/u/11367377?v=3","gravatar_id":"","url":"https://api.github.com/users/GKhalsa","html_url":"https://github.com/GKhalsa","followers_url":"https://api.github.com/users/GKhalsa/followers","following_url":"https://api.github.com/users/GKhalsa/following{/other_user}","gists_url":"https://api.github.com/users/GKhalsa/gists{/gist_id}","starred_url":"https://api.github.com/users/GKhalsa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/GKhalsa/subscriptions","organizations_url":"https://api.github.com/users/GKhalsa/orgs","repos_url":"https://api.github.com/users/GKhalsa/repos","events_url":"https://api.github.com/users/GKhalsa/events{/privacy}","received_events_url":"https://api.github.com/users/GKhalsa/received_events","type":"User","site_admin":false},{"login":"mikedao","id":3011748,"avatar_url":"https://avatars.githubusercontent.com/u/3011748?v=3","gravatar_id":"","url":"https://api.github.com/users/mikedao","html_url":"https://github.com/mikedao","followers_url":"https://api.github.com/users/mikedao/followers","following_url":"https://api.github.com/users/mikedao/following{/other_user}","gists_url":"https://api.github.com/users/mikedao/gists{/gist_id}","starred_url":"https://api.github.com/users/mikedao/starred{/owner}{/repo}","subsc[...]
