<div class="col-md-4">
<h2>Repositories:</h2>
<div class="repo-list">
	<% @repos.each do |repo| %>
	<h3><%= link_to repo.name, repo.html_url %></h3>
		updated <%= time_ago_in_words(repo.updated_at) %> ago<br>
<% end %>
</div>
</div>