
.navbar {
	/*color: #D9D9D9;*/
	color: white;
	height: 85px;
	padding-right: 0px;
	overflow: visible;
}

.navbar.navbar-inverse {
	background-color: #31649b;
	border-color: transparent;
	border-radius: 0px;
}

.btn.btn-info.log-in {
	background-color: #31649b;
	border-color: transparent;
	border-radius: 0px;
	margin-right: 0px;
	height: 83px;
}

.btn.btn-info.log-out:hover {
	color: #E7F7F9;
}

.btn.btn-info.log-out {
	color: white;
	background-color: #31649b;
	border-color: transparent;
	border-radius: 0px;
	margin-right: -20px;
	margin-top: 60px;
	height: 25px;
	float: right;
}

.btn.btn-info.search-butt {
	background-color: #31649b;
	border-color: transparent;
}

.form-control.search-bar{
	display: inline;
	background-color: #E7F7F9;
	float: right;
	height: 30px;
	margin-left: 30px;
}

.btn.btn-info.log-in:hover {
	background-color: #3d7dc2;
	border-color: transparent;
}

.navbar-brand.imithub {
	font-size: 50px;
	line-height: 50px;
	font-family: serif;
	font-weight: bold;
}
.navbar-brand.imithub.navbar-img {
	margin-bottom:25px;
}

.navbar-brand.imithub a:link {
	color: white;
	text-decoration: none;
}
.navbar-brand.imithub a:visited {
	color: white;
	text-decoration: none;
}
.navbar-brand.imithub a:hover {
	color: #E7F7F9;
	text-decoration: none;
}
/*
a:link {
    color: #0094DE;
    text-decoration: none;
}

a:visited {
	color: #0094DE;
    text-decoration: none;
}

a:hover {
	color: #DD127B;
	text-decoration: none;
}*/

div.alert.alert-info.trans {
	position: absolute;
	width: 100%;
	margin-top: -20px;
	z-index: 999;
  	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.alert.alert-info.trans:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

div.login-float {
	width:400px;
	height:400px;
	position: fixed;
	background-color: #E7F7F9;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -250px;
	opacity: 0.8;
	border-radius: 20px;
}

div.sidebar {

}

div.circle-avatar {
/* make it responsive */
max-width: 100%;
width:100%;
height:auto;
display:block;
/* div height to be the same as width*/
padding-top:100%;

/* make it a cirkle */
border-radius:50%;

/* Centering on image`s center*/
background-position-y: center;
background-position-x: center;
background-repeat: no-repeat;

/* it makes the clue thing, takes smaller dimention to fill div */
background-size: cover;

/* it is optional, for making this div centered in parent*/
margin: 0 auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

div.bar-list {
	font-size: 18px;
	font-weight: bold;
	margin-left: 2em; 
}

div.repo-list {
	margin-left: 2em; 
	max-height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
}